{% include 'header.html' %}


<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Content Row -->
    <div class="row">
        <div class="col-sm-6">
            <h1 class="h3 m-0 text-dark">Hitung Silhouette Coefficient</h1>
        </div>

    </div>

    <br>
    <br>
    <form action='/hitungevaluasi' method='POST'>
        {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <p>{{ message }}</p>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %} {% endif %} {% endwith %}
        <div class="form-group">
            <label for="input dari">Input K</label>
            <input type="number" id="dari" name="dari" class="form-control" style="width:15%" min="1" max="100">
        </div>

        <!-- button hitung cluster -->

        <div style="width:700px;" id="container">
            <div>
                <button class="btn btn-primary" type="submit" class="btn" onClick="window.location.href='/hitungevaluasi'">
                    Hitung Silhouette Score
                </button>
            </div>
        </div>


        <div class="card shadow mb-4 mt-4">
            <!-- <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Data Petugas</h6>
        </div> -->
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <div class="row">
                            <div class=" col-md-12">

                                <thead style="text-align: center">
                                    <tr>
                                        <th>Nilai K</th>
                                        <th>Nilai Silhouette</th>
                                    </tr>
                                </thead>


                                <tbody>
                                    {% for rs in data%}
                                    <tr>
                                        <td>{{rs['K']}}</td>
                                        <td>{{rs['Silhouette']}}</td>
                                    </tr>
                                    {% endfor%}
                                </tbody>
                    </table>
                    </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
        {% include 'footer.html' %}